<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sports Predictor</title>
  <meta name="description" content="Sports Predictor">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <style>
    h1 { color: #ffffff; }
  </style>
</head>

<body>
  <script src="SQLQueries.py"></script>
  <span class="underline">
  <h1>Sports Predictor</h1>
  <p style="text-align:right;">
  <button style="background-color:red; border-color:red; color:white" type="button">Baseball</button>
  <button style="background-color:purple; border-color:purple; color:white" type="button">Hockey</button>
  <button style="background-color:blue; border-color:blue; color:white" type="button">Basketball</button>
  <button style="background-color:green; border-color:green; color:white" type="button">Football</button>
  </span>
  </p>
</span>
  <div class="row">
    <div class="column left">
      <h2 color: white><span class="border"> AFC Teams</span></h2>
      <ul style="list-style: none; color: green;">
        <li><u>North</u></li>
        <li><u>South</u></li>
        <li><u>East</u></li>
        <li><u>West</u></li>
      </ul>
    </div>
    <div class="column vertical-line">
      <div class="row">
        <div class="column middle" style="padding-left: 10px;">
          <p>
          <h2>Select Team 1</h2>
          <select name= "Team1" method="GET" action="{{ url_for('populateTeamOne') }}" onfocus="this.selectedIndex = 0">
            <option></option>
            {% for x in Team1 %}
            <option value="{{ x }}" SELECTED>{{ x }}</option>
            {% endfor %}
          </select>
          </p>
       <div class="centered" style="text-align: center;">
          <label>Home</label>
          <label>Away</label>
          </div>
        </div>
        <div class="column middle">
          <p>
          <h2>Select Team 2</h2>
          <select name= "Team2" method="POST" action="{{ url_for('populateTeamTwo') }}" onfocus="this.selectedIndex = -1">
            {% for x in Team2 %}
            <option value="{{ x }}" SELECTED>{{ x }}</option>
            {% endfor %}
          </select>
          </p>
        </div>
      </div>
    </div>
    <div class="column right">
      <h2><u>NFC Teams</u></h2>
      <ul style="list-style: none;">
        <li><u>North</u></li>
        <li><u>South</u></li>
        <li><u>East</u></li>
        <li><u>West</u></li>
      </ul>
    </div>
  </div>
  <div style="position: relative">
    <p style="position: fixed; bottom: 0; width:100%; text-align: center">
      <button style="background-color:red; border-color:red; color:white"type="button">Submit</button>
      <button style="background-color:red; border-color:red; color:white" type="button">Reset</button>
    </p>
</div>
</body>
</html>