* {  
  box-sizing: border-box;
}

.column {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.left {
width: 25%;
}

.middle {
width: 50%;
}

.right {
width: 25%;
}

.row:after {
content: "";
display: table;
clear: both;
}

body {
  background-color: darkgray;
  }

.underline{
    border-bottom: 1px dotted rgb(240, 240, 240);
    width: 100%;
    display: block;
    }
    
.border {
    border-bottom: solid rgb(240, 240, 240);
    border-right: solid rgb(240, 240, 240);
  }

h2 {
    color: white;
    margin-left: 10px;
  }

label {
    color: green;
  }


.content {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    background: #000000;
    padding: 10px 0;
  }

.vertical-line{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.vertical{
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid green;
  padding-bottom: 2em;
}

p {
  color: red;
 }

.bottom{
  position: absolute;
  bottom: 10px;
  width: 50%;
}

select {
    height: 40px;
  }

.inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
