* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.left {
    width: 25%;
}

.middle {
    width: 50%;
}

.right {
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: darkgray;
}

.underline {
    border-bottom: 1px dotted rgb(240, 240, 240);
    width: 100%;
    display: block;
}

.border {
    border-left: solid rgb(240, 240, 240);
    border-right: solid rgb(240, 240, 240);
    border-top: solid rgb(240, 240, 240);
}

.border-right {
    border-bottom: solid rgb(240, 240, 240);
    border-right: solid rgb(240, 240, 240);
}

.border-left {
    border-bottom: solid rgb(240, 240, 240);
    border-left: solid rgb(240, 240, 240);
}

h1 {
    color: #ffffff;
}

h2 {
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

label {
    color: green;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    background: #000000;
    padding: 10px 0;
}

.vertical-line {
    border-left: 6px solid white;
    height: 100%;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.vertical {
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
}

.arrow {
    border: solid green;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: -5px;
}

p {
    color: red;
}

.bottom {
    position: fixed;
    bottom: 10px;
}

select {
    height: 40px;
}

ul {
    list-style: none;
}

img {
    width: 150px;
    height: 35px;
}

li {
    display: inline;
}
